@media (max-width: 600px) {
/* Contact Navigation Bar */
.contact-nav {
   display: flex;
   font-family: 'quicksand';
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #cc9933;
   color : #ffffff;
   margin: -10px;
   
}
.left-column {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 500px;
   font-size: 12px;
}
.phone {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.phone i {
   font-size: 10px;
   align-items: center;
   justify-content: center;
   margin-right: 7px;
   margin-top: 5px;
}
.mail {
   display: flex;
}
.mail i {
   font-size: 10px;
   align-items: center;
   justify-content: center;
   margin-right: 7px;
   margin-top: 5px;
}
.time {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.time i {
   font-size: 10px;
   align-items: center;
   justify-content: center;
   margin-right: 7px;
   margin-top: 5px;
}
.right-column {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100px;
   font-size: 15px;
}

/* Navigation Bar */
.navigate {
   
}
.navbar {
   display: flex;
   font-family: 'quicksand';
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #f3f3f3;
   color : #ffffff;
   margin: -10px;
   margin-top: 10px;
   height: 70px;
}
.left {
   display: flex;
   justify-content: space-between;
   width: 500px;
   font-size: 14px;
}
.logo img {
   width: 200px;
}
.nav-links {
   display: flex;
   justify-content: space-between;
   width: 350px;
}
.nav-links a {
   color: #cc9933;
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
}
.nav-links a:hover {
color: #363895;
}
.footer-nav {
   height: 300px;
   background-color: #202020;
   margin: -10px;
   margin-top: -20px;
}
/* Hero Section */
.hero-section {
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
 }
 .bg-images {
    position: absolute;
    height: 800px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: brightness(30%);
    margin-top: -180px;
 }
 .hero-heading {
    position: relative;
    color: white;
    font-family: 'Montserrat';
    align-items: left;
    padding: 50px 50px 800px 70px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    margin: 70px;
 }
 .hero-h1 {
    font-family: 'playfair-display';
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    color: #2c2c2c;
 }
 .hero-h3 {
    font-family: 'quicksand';
    font-size: 10px;
    line-height: 20px;
    color: black;
    text-align: justify;
 }

 /* Interior Section */
.interior {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    padding: 20px;
    background-color: #ffffff;
    padding-left: 0px;
    margin: 0 auto;

}
.interior img {
    width: 450px;
    height: 300px;
    margin-top: 40px;
}
.interior-image {

    line-height: 60px;
    padding: 0px;
}
.interior-head p {
    font-family: 'quicksand';
    font-size: 14px;
    line-height: 35px;
    color: #2c2c2c;
    text-align: justify;
}
.interior-head h1 {
    font-family: 'playfair-display';
    font-size: 20px;
    font-weight: 400;
    color: #2c2c2c;
    margin-top: 0px;
}
/* Build Section */
.build {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.header-build h1 {
    font-family: 'playfair-display';
    font-size: 20px;
    font-weight: 400;
    color: #2c2c2c;
    font-variant: small-caps;

    
}
.header-build {
    text-align: center;
    border-bottom: #cc9933 solid 2px;
    width: 100%;
}
.build-img {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 600px;
}
.build-img img {
    width: 320px;
    height: 200px;
}
.build-img3 {
    padding-right: 0px;
    padding-top: 30px;
}
.build-img2 {
    padding-left: 0px;
    padding-top: 30px;

}
.build-button {
    padding-left: 75px;
}
.build-button h3 {
    font-family: 'playfair-display';
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
}

/* Gallery Section */
.gallery {
    padding-top: 10px;
    background-color: #cc9933;
    margin: -10px;
    padding-bottom: 80px;
}
.header-gallery h3 {
    font-family: 'playfair-display';
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}
.gallery-img img {
    width: 450px;
    height: 300px;
    object-fit: cover;
}
.gallery-img {
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(4, auto);
    gap: 30px;
    width: 600px;
    justify-content: center;
    padding-left: 80px;
    padding-top: 20px;
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 80px;
    margin-left: 200px;
    color: #ffffff;
}
.phone1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 230px;
    font-size: 25px;
}
.mail1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 335px;
    font-size: 25px;
}
.time1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 150px;
    font-size: 25px;
}
.mail-icon i {
    font-size: 40px;
    color: #cc9933;
}
.phone-icon i {
    font-size: 40px;
    color: #cc9933;
}
.time-icon i {
    font-size: 40px;
    color: #cc9933;
}
.mail1 {
    margin-top: 30px;
}
.phone1 {
    margin-top: 30px;
}
.time1 {
    margin-top: 30px;
}
.contact {
    margin-top: 80px;
    padding-bottom: 70px;
    margin: -10px;
    height: 500px;
    background-color: #ffffff;
    background-image: url(../images/Bathroom-Renovation-Designs-Creek-1024x724.jpeg);
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}
.left-column1 {
    margin-top: 100px;
}
}